.favorite-main-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  margin-bottom: 20px;
}

.favorite-container {
  display: flex;
  gap: 10px;
  padding: 5px;
  border-radius: 10px;
  transition: 500ms;
  cursor: pointer;
}

.favorite-container h2 {
  margin-bottom: 0;
  font-size: 1.7rem;
}

.favorite-container img {
  width: 140px;
  height: 140px;
  border-radius: 10px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.favorite-container-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.favorite-container-details p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* flex: 1; Enable this after enabling the button in the favorite-container */
}

.favorite-container-details button {
  padding: 5px 20px;
  border-radius: 10px;
  background-color: var(--primary-button-background);
  color: white;
  width: fit-content;
  align-self: flex-end;
  border: none;
  margin-right: 10px;

  &:hover,
  &:active {
    background-color: rgb(from var(--primary-button-background) r g b);
  }

  & i {
    transform: rotate(-45deg);
  }
}