:root {
  --primary-button-background: rgb(0, 0, 16, 0.914);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geist";
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}

::-webkit-scrollbar-button {
  display: none;
}

.lobster {
  font-family: "Lobster";
}

.appear-animation {
  animation: appear-animation 500ms ease;
}

@keyframes appear-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.slide-animation {
  animation: slide-animation 500ms ease;
}

@keyframes slide-animation {
  from {
    transform: translateX(-20px);
  }

  to {
    transform: translateX(0px);
  }
}